
<div class="bg-gray-100 h-screen">
    <h1 class="text-center bg-gray-200 hover:text-3xl">

        SCHEDULE CALENDAR
    </h1>

    <div class="max-w-3xl mx-auto">
        <full-calendar [options]="calendarOptions" ></full-calendar>
    </div>

    <div class="flex justify-center">
      <div class="total-task-analytics flex space-x-4">
        <div *ngFor="let x of this.typeOptions" class="data-type uppercase flex items-center space-x-2">
          <div [ngClass]="{'done-color': x.type === 'done', 'todo-color': x.type === 'todo', 'pending-color': x.type === 'pending'}" class="display w-4 h-4 rounded-full"></div>
          {{x.type}}
        </div>
      </div>
    </div>
    
      
</div>


