<div class="bg-gray-100 h-screen">
    <div class="max-w-5xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
      <h1
        class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl"
      >
        Terms and Conditions
      </h1>
      <div class="mt-6 prose prose-indigo prose-lg text-gray-500">
        <h2>Introduction</h2>
        <p>Welcome to our Project Management system website!</p>
        <p>
          These terms and conditions outline the rules and regulations for the use
          of our website and related services.
        </p>
  
        <h2>Use of the Website</h2>
        <p>
          By accessing this website, you agree to abide by these terms and
          conditions. If you do not agree with any part of these terms and
          conditions, you should not use this website.
        </p>
        <p>You must be at least 14 years of age to use our website.</p>
  
        <h2>Intellectual Property Rights</h2>
        <p>
          Unless otherwise stated, we or our licensors own the intellectual
          property rights in the website and material on the website.
        </p>
  
        <h2>Acceptable Use</h2>
        <p>
          You must not use our website in any way that is unlawful, illegal,
          fraudulent or harmful, or in connection with any unlawful, illegal,
          fraudulent or harmful purpose or activity.
        </p>
  
        <h2>Limitations of Liability</h2>
        <p>
          We will not be liable to you in relation to the contents of, or use of,
          or otherwise in connection with, this website for any indirect, special
          or consequential loss, or for any business losses, loss of revenue,
          income, profits or anticipated savings.
        </p>
  
        <h2>Amendments</h2>
        <p>
          We reserve the right to amend these terms and conditions at any time
          without notice. By continuing to use the website after any changes are
          made, you agree to be bound by the revised terms and conditions.
        </p>
  
        <h2>Contact Us</h2>
        <p>
          If you have any questions or comments about these terms and conditions,
          please contact us.
        </p>

        
      </div>
    </div>
  </div>